extends layout

block body
  iframe#etherpad(src=embed_url,
    style='border: none;',
    height="100%",
    width="100%")
  
block postscripts
  :coffeescript
    resize = ->
      window_height = $(window).height();
      height = Math.min(
        window_height,
        Math.max(400, window_height - $("header").height() - $("footer").height() - 10)
      )
      console.log height
      $("#etherpad").css("height", "#{height}px");
    $(window).on "resize", resize
    resize()
